<h1>Lista de Usuarios</h1>
<table class="user-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo Electrónico</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.role}}</td>
        <td>
          <button
            class="change-role-btn"
            onclick="changeRole('{{this._id}}')"
          >Cambiar Rol</button>
          <button
            class="delete-user-btn"
            onclick="deleteUser('{{this._id}}')"
          >Borrar Usuario</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>